/* Estilos para hacer que la aplicación sea responsive */
/* Ajusta los valores según tus necesidades */

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    /* Agrega tus estilos específicos para dispositivos móviles aquí */
    body {
      font-size: 14px;
    }
  }
  
  /* Estilos para tabletas */
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Agrega tus estilos específicos para tabletas aquí */
    body {
      font-size: 16px;
    }
  }
  
  /* Estilos para pantallas más grandes (escritorio) */
  @media screen and (min-width: 1025px) {
    /* Agrega tus estilos específicos para escritorio aquí */
    body {
      font-size: 18px;
    }
  }