.sol {
  background-image: url("/view3/fondos/Fondo-10Races.png");
  height: 140vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

@media(max-width:768px) {
  .sol {
    background-image: url("/view3/Fondo10Races.png");
    height: 140vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.diez {
  position: absolute;
  width: 30%;
  left: 12%;
  top: 180%
}

@media (max-width: 768px) {
  .diez {
    position: absolute;
    width: 37%;
    left: 33%; 
    top: 175%;
    transform: translateY(-50%);
    
  }
}

.discoveri {
  position: absolute;
  width: 55%;
  top: 135%
}

@media (max-width: 768px) {
  .discoveri {
    position: absolute;
    width: 90%;
    top: 140%
  }
}

.become {
  position: absolute;
  width: 80%;
  top: 250%
}

@media (max-width: 768px) {
  .become {
    position: absolute;
    width: 100%;
    top: 265%
  }
}

.carousel-container {
  top: 182%;
  position: absolute;
  left: 68%;
  
}

@media (max-width: 768px) {
  .carousel-container {
    position: absolute;
    width: 2%;
    left: 38%;
    top: 221%;
    transform: translateY(-50%);
    
  }
}