.Cinco{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    background-size: cover;
    background-image: url("../../imagenes/View5/150HoursFondo.png");
    width: 100%;
    height: 121.7vh;
}

.letra{
    position: absolute;
    top:667%;
     left: 58.5%;
     width: 30%;
}

.Cinco2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    background-size: cover;
    background-image: url("../../imagenes/View5/Fondo-8Elements-FlyingMounts-Formulario.png");
    width: 100%;
    height: 550.7vh;
}

.ocho{
    position: absolute;
    top:767%;
    width: 35%;

}

.iconos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 130px;
    position: absolute;
    top:810%;
}

.iconos img {
    width: 900px; /* Ajusta el ancho del ícono */
  height: 1100px; /* Ajusta la altura del ícono */
  padding: 10px;
}

.fly{
    position: absolute;
    top:937%;
    width: 78%;
}

.enig{
    position: absolute;
    top:1039%;
    width: 30%;
    left: 65%;
}

.help{
    position: absolute;
    top:1122%;
    width: 55%;
    left: 13%;
}

.input2{
    position: absolute;
    top: 1200%;
}

.follow{
    position: absolute;
    top: 1256%;
    width: 20%;
}

.discord{
    position: absolute;
    top: 1269%;
    width: 35%;
}